.bg-1 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/elder2.jpg) fixed top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/elder10.jpg) fixed top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
	background: rgb(30, 144, 255, 0.7);
}

.bg-4 {
	background-color: #89aa36;
}

.bg-5 {
	background-color: #ce5050;
}